<div id="footer" style="background-image: url(<%= asset_path 'layout/footer.png' %>);">

<p>Copyright&copy; 2012 Humanitarian OpenStreetMap Team
&middot; Map data from OpenStreetMap, CC-BY-SA 2.0
</div>
